
.detail-list {

    background-image: url('@images/detail-bg.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;

    .header {
        position: absolute;
        width: 1920px;
        height: 102px;
        border-bottom: 1px solid #729DB7;
        color: #22324B;
        z-index: 200;
        @apply bg-white p-4 font-bold h-24 flex items-center justify-between overflow-hidden;
    }

    .categories {
        @apply p-4 font-bold h-24 flex items-center justify-center;
    }

    .arrow-l {
        width: 65px;
        @apply cursor-pointer absolute h-full left-0 flex flex-col justify-center;
    }

    .arrow-r {
        width: 65px;
        @apply cursor-pointer absolute h-full right-0 flex flex-col justify-center;
    }

    .footer {
        position: absolute;
        width: 1920px;
        height: 130px;
        bottom: 0;

        @apply text-center font-bold items-start flex justify-center;

        li {
            @apply rounded-full mx-3 mt-1 cursor-pointer;

            width: 24px;
            height: 24px;
            border: 1px solid #729DB7;

            &.active {
                @apply border-4;
            }
        }
    }
}

.slider-container {
    @apply
    absolute
    h-full
    transition-all
    duration-500
    ease-in-out
    flex
    justify-center
    content-center
    flex-wrap;

    width: 1920px;
    left: 1920px;

    &.active {
        left: 0;
    }

    &.previous {
        left: -1920px;
    }

    .item {
        @apply
        absolute
        cursor-pointer
        bg-white
        overflow-hidden
        transition-all
        duration-500
        ease-in-out
        ;

        border-radius: 7px;
        background-image: url('@images/detail-bg.svg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: left top;

        width: 424px;
        height: 315px;
        box-shadow: 0 1.60804px 3.21608px rgba(0, 0, 0, 0.16), 0 3.21608px 6.43216px rgba(0, 0, 0, 0.12), 0 1.60804px 12.8643px rgba(0, 0, 0, 0.1);

        &:nth-child(1) {
            left: 73px;
            top: 208px;
        }

        &:nth-child(2) {
            left: 523px;
            top: 208px;
        }

        &:nth-child(3) {
            left: 973px;
            top: 208px;
        }

        &:nth-child(4) {
            left: 1423px;
            top: 208px;
        }

        &:nth-child(5) {
            left: 73px;
            top: 588px;
        }

        &:nth-child(6) {
            left: 523px;
            top: 588px;
        }

        &:nth-child(7) {
            left: 973px;
            top: 588px;
        }

        &:nth-child(8) {
            left: 1423px;
            top: 588px;
        }

        .icon-content {
            @apply
            absolute
            w-full
            h-full
            flex
            justify-end
            flex-col
            ;

            opacity: 1;
            visibility: visible;
            transition: opacity, visibility;
            transition-duration: 200ms;

            h1 {
                @apply pl-4 pb-2 pt-1 m-0;
                font-family: Arimo;
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 38px;
                letter-spacing: 0.15px;
                color: #22324B;
                background: white;
            }

            em {
                @apply pl-4 pb-4;
                font-family: Arimo;
                font-style: italic;
                font-weight: normal;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: rgba(38,50,56,0.54);
                background: white;
            }

            .identifier {
                @apply absolute rounded-full text-white text-center bottom-4 right-4 font-bold;
                width: 45px;
                height: 45px;
                font-size: 20px;
                line-height: 45px;
                background: #54598B;
            }
        }

        &.active .icon-content {
            opacity: 0;
            visibility: hidden;
        }

        .icon-background {
            @apply
            absolute
            w-full
            h-full;
            background-color: white;
            opacity: 1;
            visibility: visible;
            transition: opacity, visibility;
            transition-duration: 200ms;
        }

        &.active .icon-background {
            opacity: 0;
            visibility: hidden;
        }

        img {
            @apply
            absolute
            top-0
            left-0
            transition-all
            duration-500
            ease-in-out
            ;
            max-width: 1080px;
            pointer-events: none;

        }

        &.active {
            z-index: 100;
            width: 1920px;
            height: 1080px;
            top: 0;
            left: 0;
            margin: 0;
            filter: none;
            border-radius: 0;
        }
        &.on-top {
            z-index: 100;
        }
    }
}

.detail-view {
    .back-button {
        position: absolute;
        left: 74px;
        top: 98px;

        font-family: Arimo;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.005em;

        color: #729DB7;
    }
}

.family-detail {
    @apply
    absolute
    flex
    flex-col
    text-2xl
    justify-end
    ;

    padding-left: 10px;
    top: 700px;
    left: 100px;
    height: 250px;
    border-left: solid 1px #729DB7;

    :first-child {
        @apply font-bold;
        color: #263238;
        letter-spacing: 0.005em;
        margin-bottom: 5px;
    }

    span {
        color: #222222;
        letter-spacing: 0.1px;
        opacity: 0.54;
        margin-bottom: 5px;
    }
}

.fact-detail {
    @apply
    absolute
    flex
    flex-col
    text-2xl
    justify-start
    ;

    padding-left: 10px;
    top: 200px;
    left: 500px;
    height: 0;
    width: 500px;
    border-left: solid 1px #729DB7;

    span {
        color: #222222;
        letter-spacing: 0.1px;
        opacity: 0.54;
        margin-bottom: 5px;
    }
}

.info-detail {
    @apply
    absolute
    flex
    flex-col
    justify-center
    ;

    right: 60px;
    top: 0;
    height: 1080px;
    width: 700px;

    .detail-collapsible {
        @apply
        flex
        flex-col
        ;

        border-bottom: solid 1px #729DB7;

        .detail-header {
            margin-top: 20px;
            margin-bottom: 20px;
            letter-spacing: 0.1px;
            color: #22324B;
            font-weight: bold;
        }

        .detail-text {
            display: inline-block;
            margin-bottom: 0;
            overflow: hidden;
            letter-spacing: 0.1px;
            color: #22324B;
            height: 0;
            transition: height, margin-bottom;
            transition-duration: 500ms;
        }
    }
}

.large-identifier {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    bottom: 60px;
    left: 60px;
    border-radius: 50%;
    background: #54598B;
    color: white;
    text-align: center;
}