
.puzzle-view {

    background-image: url('@images/puzzle-bg.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;

}

.puzzle-element {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    opacity: 1.0;
    transition: opacity 1500ms, color 600ms, border 600ms;

    &.faded {
        opacity: 0;
    }

    img {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    & * {
        pointer-events: none;
    }

    &.card-element {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #D5E2E9;
        border-radius: 8px;
        filter: drop-shadow(0px 16px 40px rgba(213, 226, 233, 0.5));
        overflow: visible;

        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 34px;
        letter-spacing: 0.1px;

        color: #729DB7;
    }

    &.complete {
        border: 1px solid #ade563;
        color: #72b778;
    }
}

.text-callout {
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0.0;
    z-index: 200;
    transition: all;
    transition-duration: 1000ms;

    .point {
        position: absolute;
        background-color: #729DB7;
        width: 12px;
        height: 12px;
        margin-left: -6px;
        margin-top: -6px;
        border-radius: 50%;
        top: 0;
        left: 0;
    }

    &.top-left {
        justify-content: start;
        padding-left: 16px;
        border-left: solid 1px rgba(34, 34, 34, 0.3);

        .point {
            top: 0;
            left: 0;
            margin-left: -6px;
            margin-top: -6px;
        }
    }

    &.top-right {
        justify-content: start;
        padding-right: 16px;
        border-right: solid 1px rgba(34, 34, 34, 0.3);

        .point {
            top: 0;
            right: 0;
            margin-right: 6px;
            margin-top: -6px;
        }
    }

    &.bottom-left {
        justify-content: end;
        padding-left: 16px;
        border-left: solid 1px rgba(34, 34, 34, 0.3);

        .point {
            bottom: 0;
            left: 0;
            margin-left: -6px;
            margin-bottom: 6px;
        }
    }

    &.bottom-right {
        justify-content: end;
        padding-right: 16px;
        border-right: solid 1px rgba(34, 34, 34, 0.3);

        .point {
            bottom: 0;
            right: 0;
            margin-right: 6px;
            margin-bottom: 6px;
        }
    }

    span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: black;
        opacity: 1;
    }

    &.active {
        opacity: 1.0;
    }
}

.bones-image {
    position: absolute;
    width: 1225px;
    height: 480px;
    top: 257px;
    left: 358px;
}

.inner-parts-image {
    position: absolute;
    width: 1601px;
    height: 901px;
    top: 48px;
    left: 159px;
    //opacity: 0.7;
}

.outer-parts-image {
    position: absolute;
    width: 1399px;
    height: 496px;
    top: 254px;
    left: 261px;
    transition: top 500ms;

    &.complete {
        top: 324px;
    }
}


.view-toggle {
    cursor: pointer;
    position: absolute;
    top: 504px;
    left: 45px;
    width: 200px;
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &:not(.toggle) {
        .text span:last-child {
            font-weight: bold;
            color: #222222;
        }

        .line div {
            top: 50px;
        }
    }

    &.toggle {
        .text span:first-child {
            font-weight: bold;
            color: #222222;
        }

        .line div {
            top: -4px;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: rgba(34, 34, 34, 0.6);
            margin-left: 21px;
        }
    }

    .line {
        position: absolute;
        left: 0;
        width: 1px;
        top: 8px;
        bottom: 8px;
        border-left: 1px solid #222222;

        div {
            position: absolute;
            width: 12px;
            height: 12px;
            border: 1px solid #222222;
            left: -6px;
            top: -4px;
            border-radius: 50%;
            background: #d4e1e9;
            transition: top;
            transition-duration: 100ms;
        }
    }
}

.icon-callout {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    transition: all 1000ms;
    height: 0;
    opacity: 1.0;

    &.faded {
        opacity: 0;
    }

    &.active {
        .ball {
            width: 38px;
            height: 38px;

            div {
                width: 17px;
                height: 17px;
            }
        }
        .icon {
            opacity: 1.0;
        }

        &.bottom-left, &.bottom-right {
            .ball {
                margin-top: -19px;
            }

            .icon {
                margin-bottom: -30px;
            }
        }

        &.top-left, &.top-right {
            .ball {
                margin-bottom: -19px;
            }

            .icon {
                margin-top: -30px;
            }

        }
    }

    &.bottom-left, &.bottom-right {
        flex-direction: column;

        .ball {
            margin-top: 0;
        }

        .icon {
            margin-bottom: -30px;
        }
    }

    &.top-left, &.top-right {
        flex-direction: column-reverse;

        .ball {
            margin-bottom: 0;
        }

        .icon {
            margin-top: -30px;
        }

    }

    .ball {
        transition: all;
        transition-duration: 1000ms;
        width: 0;
        height: 0;

        border-radius: 50%;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23000000FF' stroke-width='2' stroke-dasharray='39%25%2c 39%25' stroke-dashoffset='37' stroke-linecap='round'/%3e%3c/svg%3e");
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            transition: all;
            transition-duration: 500ms;
            transition-delay: 300ms;
            position: absolute;
            width: 0;
            height: 0;
            background: #222222;
            border-radius: 50%;
        }

    }

    .line {
        border-color: #222222;
        border-left: 1px solid;
        width: 0;
        height: auto;
        flex-grow: 1;
    }

    .icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23729DB7FF' stroke-width='3' stroke-dasharray='20%25' stroke-dashoffset='8' stroke-linecap='round'/%3e%3c/svg%3e");
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all;
        transition-duration: 1000ms;
        opacity: 0.0;

        span {
            color: #729DB7;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 34px;
        }
    }
}

.progress-indicator {
    position: absolute;
    top: 96px;
    left: 567px;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 786px;
    height: 94px;

    .step {
        width: 52px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &.active {
            div:first-child {
                transition: all;
                transition-duration: 500ms;
                background-color: #729DB7;

                span {
                    transition: all;
                    transition-duration: 500ms;
                    color: white;
                }
            }

            .name {
                transition: all;
                transition-duration: 500ms;
                font-weight: bold;
                color: #22324B;
            }
        }

        div:first-child {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            border: 2px solid #729DB7;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                letter-spacing: 0.15px;
                color: #729DB7;
            }
        }

        .name {
            margin-top: 9px;
            width: 200px;
            text-align: center;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.15px;
            color: #555555;
        }
    }

    .divider {
        margin-top: 26px;
        flex-grow: 2;
        width: auto;
        border-bottom: solid 2px #729DB7;
    }

}

.next-puzzle-button {
    position: absolute;
    top: 520px;
    left:1718px;
    width: 200px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #729DB7;
    cursor: pointer;

    img {
        width: 40px;
        height: 40px;
    }
}

.prev-puzzle-button {
    position: absolute;
    width: 98px;
    height: 40px;
    left: 46px;
    top: 520px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #729DB7;
    cursor: pointer;

    img {
        width: 40px;
        height: 40px;
    }
}